In [1]:
import pandas as pd
import numpy as np

In [2]:
deaths = pd.read_csv('/Users/jimy/Desktop/HIMALAYA/deaths.csv')
expeditions = pd.read_csv('/Users/jimy/Desktop/HIMALAYA/expeditions.csv')
peaks = pd.read_csv('/Users/jimy/Desktop/HIMALAYA/peaks.csv')
campeones = pd.read_csv('/Users/jimy/Desktop/HIMALAYA/summiters.csv') # Cargo las cuatro tablas que tengo

In [3]:
deaths.head()

,peak_id,peak_name,name,yr_season,date,time,citizenship,gender,age,is_o2_used,is_summiter,cause_of_death
0,AMAD,Ama Dablam,Michael John (Mike) Harris,1959 Spr,May 21,08:30,UK,M,33,No,.,Fall (6550m)
1,AMAD,Ama Dablam,George James Fraser,1959 Spr,May 21,08:30,UK,M,27,No,.,Fall (6550m)
2,AMAD,Ama Dablam,Kenneth James (Ken) Hyslop,1979 Aut,Oct 24,11:15,New Zealand,M,23,No,.,Avalanche (6100m)
3,AMAD,Ama Dablam,Guido Bumann,1983 Aut,Oct 27,20:00,Switzerland,M,31,No,.,Fall (5300m)
4,AMAD,Ama Dablam,Maya Senn,1983 Aut,Oct 27,20:00,Switzerland,F,28,No,.,Fall (5300m)

In [4]:
expeditions.head()

,peak_id,peak_name,nationality,year,season,host_cntr,other_cntrs,sponsor,leaders,rte_1_name,...,is_o2_sleeping,is_o2_medical,is_o2_used,is_o2_unkwn,had_o2,camp_sites,accidents,achievements,agency,members
0,ACHN,Aichyn,Japan,2015,Autumn,Nepal,NaN,Doshisha University Alpine Club Western Nepal ...,Hiroki Senda,NW side,...,0,0,0,0,0,"Smt(03,08/09)",NaN,NaN,Cosmo Treks,"01 Hiroki (Yuki) Senda (L)(S), Japan 02 Ms. ..."
1,ACHN,Aichyn,France,2015,Autumn,Nepal,NaN,Paulo Aichyn Expedition 2015,Paulo Grobel,N Ridge-W Ridge,...,0,0,0,0,0,Smt(25/09),NaN,NaN,Yeti Adventure,"01 Paul Marc (Paulo) Grobel (L)(S), France 02..."
2,ACHN,Aichyn,France,2018,Autumn,Nepal,NaN,French Aichyn Expeditions 2018,"Francois Damilano, Gregoire Lestienne",NaN,...,0,0,0,0,0,NaN,NaN,NaN,Himalayan Travellers Nepal,"01 Francois Damilano (L), France 02 Gregoire..."
3,AMAD,Ama Dablam,UK,1958,Autumn,Nepal,Italy,NaN,Alfred Gregory,SW Ridge,...,0,0,0,0,0,"BC,C1,C2,xxx(6000m)",NaN,NaN,NaN,"01 Alfred John (Alf) Gregory (L), UK 02 Rich..."
4,AMAD,Ama Dablam,UK,1959,Spring,Nepal,NaN,NaN,J. H. Emlyn Jones,N Ridge-NE Spur,...,0,0,0,0,1,"BC(17/04,5030m),C1(01/05,5440m),C2(05/05,5850m...",Fraser and Harris disappeared on way to summit...,NaN,NaN,"01 John Hubert Emlyn Jones (L), UK 02 George..."

In [5]:
peaks.head()

,peak_id,peak_name,host_contries,alternative_names,height_m,height_ft,location,region,restrictions,climb_status,is_open,is_unlisted,is_trekking,trek_year,first_asc_yr,first_asc_season,first_asc_date,countries,first_summiters,summiters_notes
0,ACHN,Aichyn,Nepal only,"Aychin, Ashvin",6055,19865,Nalakankar/Chandi/Changla,Far West-Kanjiroba,Opened in 2014,Climbed,1,0,0,0,2015,Autumn,Sep 03,Japan,"Hiroki Senda, et al",NaN
1,AGLE,Agole East,Nepal only,Angole East,6675,21900,Rolwaling,Khumbu-Rolwaling-Makalu,Opened in 2014,Unclimbed,1,0,0,0,0,All,NaN,NaN,Unclimbed,NaN
2,AMAD,Ama Dablam,Nepal only,Amai Dablang,6814,22356,Khumbu,Khumbu-Rolwaling-Makalu,NaN,Climbed,1,0,0,0,1961,Spring,Mar 13,"New Zealand, USA, UK","Mike Gill, Wally Romanes, Barry Bishop, Michae...",NaN
3,AMOT,Amotsang,Nepal only,Amatson,6393,20974,Damodar,Annapurna-Damodar-Peri,Opened in 2002,Climbed,1,0,0,0,2019,Autumn,Oct 24,Germany,Jost Kobusch,Possibly climbed earlier
4,AMPG,Amphu Gyabjen,Nepal only,NaN,5630,18471,Khumbu,Khumbu-Rolwaling-Makalu,Opened in 2002,Climbed,1,0,0,0,1953,Spring,Apr 11,UK,"John Hunt, Tom Bourdillon",NaN

In [6]:
campeones.head()

,peak_id,peak_name,name,yr_season,date,time,citizenship,gender,age,is_o2_used,died_on_descent,host_country
0,ACHN,Aichyn,Kaya Ko,2015 Aut,Sep 03,13:15,Japan,F,23,No,.,Nepal
1,ACHN,Aichyn,Yuma Ono,2015 Aut,Sep 03,13:15,Japan,M,19,No,.,Nepal
2,ACHN,Aichyn,Shintaro Saito,2015 Aut,Sep 03,13:15,Japan,M,25,No,.,Nepal
3,ACHN,Aichyn,Hiroki (Yuki) Senda,2015 Aut,Sep 03,13:15,Japan,M,23,No,.,Nepal
4,ACHN,Aichyn,Yuto Tamaki,2015 Aut,Sep 03,13:15,Japan,M,22,No,.,Nepal

## Exploración y transformación de archivo DEATHS

In [7]:
deaths2 = deaths.copy() # copia de deaths por si hubiera que volver al principio

In [8]:
deaths.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1104 entries, 0 to 1103
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   peak_id         1104 non-null   object
 1   peak_name       1104 non-null   object
 2   name            1104 non-null   object
 3   yr_season       1104 non-null   object
 4   date            1104 non-null   object
 5   time            557 non-null    object
 6   citizenship     1104 non-null   object
 7   gender          1104 non-null   object
 8   age             1104 non-null   int64
 9   is_o2_used      1104 non-null   object
 10  is_summiter     1104 non-null   object
 11  cause_of_death  1104 non-null   object
dtypes: int64(1), object(11)
memory usage: 103.6+ KB

In [9]:
nan_cols=deaths.isna().sum()

nan_cols[nan_cols>0] # La columna Time es la única con nulos y son casi la mitad de los datos. La borro.

time    547
dtype: int64

In [10]:
deaths.peak_name.unique()

array(['Ama Dablam', 'Annapurna I', 'Annapurna II', 'Annapurna III',
       'Annapurna IV', 'Annapurna I East', 'Annapurna I Middle',
       'Annapurna South', 'Api Main', 'Baruntse', 'Baudha', 'Chako',
       'Chamlang', 'Cheo Himal', 'Chamar North', 'Chobuje', 'Cholatse',
       'Cho Oyu', 'Churen Himal East', 'Churen Himal West', 'Chukyima Go',
       'Dhaulagiri I', 'Dhaulagiri II', 'Dhaulagiri IV', 'Dhaulagiri V',
       'Dorje Lhakpa', 'Everest', 'Fang', 'Firnkopf', 'Ganesh I',
       'Ganesh II', 'Ganesh III', 'Ganesh IV', 'Ganesh V', 'Gangapurna',
       'Gaurishankar', 'Gimmigela Chuli', 'Gurja Himal', 'Gyachung Kang',
       'Himalchuli East', 'Himjung', 'Himlung Himal', 'Himalchuli North',
       'Hiunchuli', 'Jannu East', 'Jannu', 'Jethi Bahurani', 'Jongsang',
       'Kande Hiunchuli North  I', 'Kangchenjunga', 'Kang Guru',
       'Kanjiroba North', 'Kotang', 'Kangtega', 'Kusum Kanguru',
       'Kwangde', 'Langtang Lirung', 'Langtang Ri', 'Leonpo Gang',
       'Lhotse', 'Lhotse Shar', 'Langshisa Ri', 'Makalu II', 'Makalu',
       'Manaslu', 'Mardi Himal', 'Nangpai Gosum I', 'Nampa',
       'Ngojumba Kang II', 'Nilgiri South', 'Nuptse',
       'Pasang Lhamu Chuli', 'Pisang', 'Peak 29', 'Pumori',
       'Putha Hiunchuli', 'Raksha Urai', 'Saipal', 'Shartse II',
       'Tashi Kang', 'Tawoche', 'Thulagi', 'Tilicho', 'Tengkangpoche',
       'Tukuche', 'Yalung Kang'], dtype=object)

In [11]:
deaths.cause_of_death.unique() #Aquí rentaria reagrupar por causas y quitar la altitud como característica

array(['Fall (6550m)', 'Avalanche (6100m)', 'Fall (5300m)',
       'Fall (5900m)', 'Fall (6200m)', 'Fall (6750m)', 'Fall (6000m)',
       'AMS (4600m)', 'Fall (6080m)', 'Avalanche (6400m)',
       'Unknown (3400m)', 'Fall (6050m)', 'Fall (6100m)', 'AMS (6200m)',
       'Illness (non-AMS) (6000m)', 'Falling Rock/Ice (6400m)',
       'Falling Rock/Ice (6300m)', 'Other (6800m)', 'Fall (6300m)',
       'AMS (6000m)', 'Falling Rock/Ice (5300m)', 'Avalanche (6700m)',
       'Avalanche (6300m)', 'Avalanche (5750m)', 'Avalanche (5500m)',
       'Fall (7300m)', 'Unknown (0m)', 'Other (6600m)',
       'Avalanche (6500m)', 'Avalanche (5650m)', 'Avalanche (5100m)',
       'Fall (7700m)', 'Illness (non-AMS) (7100m)',
       'Falling Rock/Ice (6000m)', 'Avalanche (5400m)', 'Fall (6500m)',
       'Fall (7900m)', 'Fall (7420m)', 'Falling Rock/Ice (5000m)',
       'Fall (8000m)', 'Fall (7000m)', 'Avalanche (7500m)',
       'Fall (7100m)', 'Fall (4300m)', 'Crevasse (5300m)',
       'Avalanche (5700m)', 'Avalanche (5900m)', 'Avalanche (6050m)',
       'Fall (7600m)', 'Avalanche (6000m)', 'Icefall Collapse (6220m)',
       'AMS (7400m)', 'Disappearance (6700m)', 'Exhaustion (7600m)',
       'Crevasse (6300m)', 'Fall (7400m)', 'AMS (7550m)', 'Fall (7500m)',
       'Fall (6700m)', 'Fall (0m)', 'Crevasse (6000m)',
       'Avalanche (5030m)', 'Avalanche (6800m)',
       'Exposure/Frostbite (6300m)', 'AMS (3000m)',
       'Exposure/Frostbite (4000m)', 'Avalanche (3100m)', 'AMS (6300m)',
       'Fall (7450m)', 'Fall (7800m)', 'Avalanche (3650m)',
       'Fall (5970m)', 'Disappearance (6500m)', 'Other (3500m)',
       'Disappearance (7100m)', 'AMS (6600m)', 'Fall (6900m)',
       'Illness (non-AMS) (3520m)', 'AMS (4300m)',
       'Illness (non-AMS) (4300m)', 'Fall (5800m)', 'AMS (5500m)',
       'AMS (5000m)', 'AMS (4260m)', 'Disappearance (6600m)',
       'Crevasse (6095m)', 'Fall (6250m)', 'Avalanche (5850m)',
       'AMS (5600m)', 'Avalanche (7100m)', 'Avalanche (6900m)',
       'AMS (7200m)', 'AMS (6700m)', 'Avalanche (6550m)', 'AMS (7350m)',
       'AMS (5300m)', 'Illness (non-AMS) (4950m)', 'Fall (6450m)',
       'Falling Rock/Ice (7800m)', 'Illness (non-AMS) (5400m)',
       'Illness (non-AMS) (4800m)', 'AMS (8150m)',
       'Illness (non-AMS) (7000m)', 'Illness (non-AMS) (7200m)',
       'Fall (6600m)', 'Fall (8100m)', 'Illness (non-AMS) (5800m)',
       'Unknown (5600m)', 'Crevasse (6800m)', 'Illness (non-AMS) (7400m)',
       'AMS (0m)', 'Exhaustion (7500m)', 'Fall (7550m)', 'AMS (6800m)',
       'Unknown (6800m)', 'Illness (non-AMS) (6700m)',
       'Exhaustion (6400m)', 'Crevasse (7200m)', 'AMS (2100m)',
       'Avalanche (5800m)', 'Exposure/Frostbite (7500m)',
       'Avalanche (5300m)', 'Crevasse (5700m)', 'Avalanche (5335m)',
       'Avalanche (4500m)', 'Avalanche (7600m)', 'Other (7600m)',
       'Exhaustion (0m)', 'Exposure/Frostbite (7400m)',
       'Illness (non-AMS) (4500m)', 'Illness (non-AMS) (3700m)',
       'Disappearance (7600m)', 'Disappearance (8000m)', 'AMS (6500m)',
       'Exposure/Frostbite (8150m)', 'Falling Rock/Ice (6550m)',
       'Avalanche (6750m)', 'Avalanche (5600m)', 'Avalanche (6600m)',
       'Fall (4700m)', 'Fall (8160m)', 'Disappearance (0m)',
       'Fall (6800m)', 'Crevasse (5500m)', 'Fall (8050m)',
       'Avalanche (0m)', 'AMS (7700m)', 'Avalanche (4750m)',
       'Exposure/Frostbite (7900m)', 'Fall (6976m)',
       'Falling Rock/Ice (0m)', 'Disappearance (6900m)',
       'Avalanche (4300m)', 'Avalanche (4890m)', 'Avalanche (5950m)',
       'Fall (5930m)', 'Illness (non-AMS) (5700m)',
       'Exposure/Frostbite (5000m)', 'Disappearance (8200m)',
       'Exposure/Frostbite (6500m)', 'Falling Rock/Ice (6950m)',
       'AMS (6400m)', 'Falling Rock/Ice (6700m)',
       'Icefall Collapse (5800m)', 'AMS (7000m)', 'Fall (7540m)',
       'Crevasse (5800m)', 'Icefall Collapse (5700m)',
       'Icefall Collapse (5525m)', 'Illness (non-AMS) (6150m)',
       'Exposure/Frostbite (6800m)', 'Crevasse (5900m)', 'Other (5000m)',
       'Fall (8800m)', 'Crevasse (6600m)', 'AMS (5700m)',
       'Exhaustion (8000m)', 'Exhaustion (8350m)', 'Avalanche (8300m)',
       'Fall (7950m)', 'Disappearance (8230m)',
       'Illness (non-AMS) (6770m)', 'Fall (8300m)', 'Fall (8600m)',
       'AMS (4900m)', 'Exposure/Frostbite (8600m)', 'Fall (8140m)',
       'Fall (8400m)', 'Fall (8500m)', 'Exposure/Frostbite (7950m)',
       'Fall (6400m)', 'Other (5400m)', 'Illness (non-AMS) (5350m)',
       'Exposure/Frostbite (7700m)', 'Avalanche (7270m)', 'Fall (8700m)',
       'Fall (8830m)', 'Exposure/Frostbite (7800m)',
       'Illness (non-AMS) (4270m)', 'Other (0m)', 'Exhaustion (8750m)',
       'Fall (8750m)', 'AMS (5150m)', 'Exhaustion (8700m)',
       'Exhaustion (8680m)', 'AMS (6450m)', 'Fall (7200m)',
       'Exposure/Frostbite (8700m)', 'Exposure/Frostbite (8680m)',
       'Exposure/Frostbite (8550m)', 'Exposure/Frostbite (8400m)',
       'AMS (8250m)', 'Avalanche (7800m)', 'Disappearance (8560m)',
       'Disappearance (8500m)', 'AMS (8200m)',
       'Exposure/Frostbite (8500m)', 'Exposure/Frostbite (8750m)',
       'Crevasse (6400m)', 'Illness (non-AMS) (7900m)', 'AMS (8400m)',
       'Unknown (7800m)', 'Illness (non-AMS) (5300m)',
       'Exhaustion (8500m)', 'Exhaustion (8600m)',
       'Disappearance (8700m)', 'Illness (non-AMS) (4600m)',
       'Illness (non-AMS) (8000m)', 'Illness (non-AMS) (8200m)',
       'AMS (8500m)', 'AMS (7800m)', 'Illness (non-AMS) (8700m)',
       'Falling Rock/Ice (7200m)', 'AMS (8650m)', 'Unknown (7700m)',
       'Avalanche (7700m)', 'AMS (8300m)', 'Disappearance (8800m)',
       'Exhaustion (8100m)', 'AMS (8750m)', 'AMS (8700m)',
       'Exhaustion (8400m)', 'Illness (non-AMS) (7300m)', 'AMS (8600m)',
       'Crevasse (6200m)', 'Illness (non-AMS) (6200m)', 'AMS (8760m)',
       'Other (6500m)', 'Fall (5400m)', 'AMS (8000m)', 'AMS (5350m)',
       'Avalanche (5350m)', 'AMS (7900m)', 'Exhaustion (8760m)',
       'AMS (8220m)', 'Exhaustion (8550m)', 'Illness (non-AMS) (7500m)',
       'Crevasse (6440m)', 'Exhaustion (7900m)', 'Exhaustion (7000m)',
       'Fall (8680m)', 'AMS (7100m)', 'Illness (non-AMS) (6300m)',
       'AMS (3900m)', 'Crevasse (7000m)', 'Exposure/Frostbite (6900m)',
       'Avalanche (3800m)', 'Fall (7750m)', 'AMS (5790m)',
       'Falling Rock/Ice (5180m)', 'Falling Rock/Ice (7400m)',
       'AMS (4950m)', 'Avalanche (4000m)', 'Disappearance (5350m)',
       'Other (1000m)', 'Other (6000m)', 'AMS (4200m)',
       'Illness (non-AMS) (4400m)', 'AMS (6950m)', 'Avalanche (5550m)',
       'Illness (non-AMS) (5100m)', 'Avalanche (5330m)',
       'Disappearance (6000m)', 'Illness (non-AMS) (0m)',
       'Illness (non-AMS) (5485m)', 'AMS (7620m)', 'AMS (7250m)',
       'Illness (non-AMS) (1900m)', 'Exhaustion (6300m)',
       'Disappearance (8250m)', 'Fall (8250m)', 'Fall (8350m)',
       'Falling Rock/Ice (6900m)', 'Fall (8200m)', 'Exhaustion (8300m)',
       'Disappearance (8586m)', 'Exposure/Frostbite (8450m)',
       'Exposure/Frostbite (8300m)', 'Fall (5500m)', 'Avalanche (4200m)',
       'Fall (5200m)', 'Avalanche (4800m)', 'Avalanche (4900m)',
       'Illness (non-AMS) (3750m)', 'Avalanche (6200m)', 'AMS (7780m)',
       'Fall (7390m)', 'Avalanche (7450m)', 'Avalanche (8250m)',
       'Avalanche (4700m)', 'AMS (7300m)', 'Unknown (5040m)',
       'Other (5500m)', 'Exposure/Frostbite (7450m)',
       'Exposure/Frostbite (7100m)', 'Exhaustion (3700m)',
       'Other (2225m)', 'Illness (non-AMS) (4700m)', 'Fall (8010m)',
       'Avalanche (4850m)', 'Illness (non-AMS) (6800m)', 'AMS (4500m)',
       'AMS (8100m)', 'Exhaustion (8200m)', 'Falling Rock/Ice (6800m)',
       'Illness (non-AMS) (6100m)', 'Exposure/Frostbite (7200m)',
       'Disappearance (8400m)', 'AMS (5400m)', 'Crevasse (7700m)',
       'Falling Rock/Ice (5500m)', 'Illness (non-AMS) (6600m)',
       'Crevasse (7600m)', 'Disappearance (4300m)', 'Avalanche (7400m)',
       'Fall (5600m)', 'Avalanche (7000m)', 'AMS (4400m)',
       'Other (5700m)', 'Disappearance (7800m)', 'Other (7300m)',
       'Crevasse (7800m)', 'Illness (non-AMS) (6750m)',
       'Illness (non-AMS) (6308m)', 'Falling Rock/Ice (5850m)',
       'Avalanche (7300m)', 'Avalanche (6730m)', 'Disappearance (6270m)',
       'AMS (7450m)', 'Fall (8150m)', 'Exhaustion (6800m)', 'AMS (5250m)',
       'Falling Rock/Ice (6100m)', 'Fall (5700m)', 'Avalanche (5240m)',
       'Disappearance (7000m)', 'Fall (7120m)', 'Crevasse (6100m)',
       'AMS (3860m)', 'Fall (6650m)', 'Avalanche (6250m)', 'Fall (5000m)',
       'Fall (7050m)', 'Fall (2200m)', 'Other (400m)'], dtype=object)

In [12]:
height_of_death = []

for i in deaths.cause_of_death:
    
    div = i.split()
    
    if len(div)==2:
        
        height_of_death.append(div[1])
        
    else:
        
        height_of_death.append(div[2])

deaths['height_of_death']= height_of_death

deaths.height_of_death

0       (6550m)
1       (6550m)
2       (6100m)
3       (5300m)
4       (5300m)
         ...
1099    (8500m)
1100    (8500m)
1101    (8200m)
1102    (8200m)
1103    (8200m)
Name: height_of_death, Length: 1104, dtype: object

In [13]:
deaths.height_of_death = deaths.height_of_death.str.replace('(', '')
deaths.height_of_death = deaths.height_of_death.str.replace(')', '')
deaths.height_of_death = deaths.height_of_death.str.replace('m', '')
deaths.height_of_death.head()

/var/folders/hz/6cb_cyr94_zgz6xgw1tm2h580000gn/T/ipykernel_65562/2819137987.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  deaths.height_of_death = deaths.height_of_death.str.replace('(', '')
/var/folders/hz/6cb_cyr94_zgz6xgw1tm2h580000gn/T/ipykernel_65562/2819137987.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  deaths.height_of_death = deaths.height_of_death.str.replace(')', '')

0    6550
1    6550
2    6100
3    5300
4    5300
Name: height_of_death, dtype: object

In [14]:
deaths.rename(columns={'height_of_death': 'height_of_death_(m)'}, inplace=True)

In [15]:
deaths['height_of_death_(m)']= deaths["height_of_death_(m)"].astype(dtype='int64', copy=True) 
# cambio el dato de de object a int porque son metros

In [16]:
deaths['height_of_death_(m)'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1104 entries, 0 to 1103
Series name: height_of_death_(m)
Non-Null Count  Dtype
--------------  -----
1104 non-null   int64
dtypes: int64(1)
memory usage: 8.8 KB

In [17]:
deaths.head()

,peak_id,peak_name,name,yr_season,date,time,citizenship,gender,age,is_o2_used,is_summiter,cause_of_death,height_of_death_(m)
0,AMAD,Ama Dablam,Michael John (Mike) Harris,1959 Spr,May 21,08:30,UK,M,33,No,.,Fall (6550m),6550
1,AMAD,Ama Dablam,George James Fraser,1959 Spr,May 21,08:30,UK,M,27,No,.,Fall (6550m),6550
2,AMAD,Ama Dablam,Kenneth James (Ken) Hyslop,1979 Aut,Oct 24,11:15,New Zealand,M,23,No,.,Avalanche (6100m),6100
3,AMAD,Ama Dablam,Guido Bumann,1983 Aut,Oct 27,20:00,Switzerland,M,31,No,.,Fall (5300m),5300
4,AMAD,Ama Dablam,Maya Senn,1983 Aut,Oct 27,20:00,Switzerland,F,28,No,.,Fall (5300m),5300